.about-text{
    font-family: "Times New Roman";
    font-size: 18px;
    color: #f2f2f2;
    width: 950px;
}

.align-left{
    text-align: left;
}

.about-title{
    font-size: 40px;
    color:white;
    font-family: "Montserrat";
}

.about-tools-padding{
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.about-text-pl{
    padding-left: 3%;
}

.about-vl-mt{
    margin-top: 2%;
}

.href-remove{
    color: #f2f2f2;
    text-decoration: underline;
}