
.profile-text{
    color: white;
    font-family:'Montserrat';
}

.intro{
    font-size: 20px;
}

.title{
    font-size: 22px;
}

.bread {
    font-size: 18px;
    width: 400px;
    color: #ABABAB;
}

.project
{
    font-size: 40px;
}

.home-profile-col{
    padding-top: 0%;
}

.project-image-ml{
    margin-left: 2%;
}

.box{
    padding: 0 3% 0 3%;
}

/*info text of projects set to hidden*/
.project-popup{
    width: 220px;
    height: 160px;
    font-size: 18px;
    color: white;
    background-color: #272727;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* transition effect. not necessary */
    transition: opacity 1s, visibility 1s;
}

/*values for the container of project images*/
.relative-pos{
    position: relative !important;
}

/*when hovering the container of the project image, set visibility to true and increase opacity*/
.relative-pos:hover .project-popup{
    visibility: visible;
    opacity: 1;
  }

.interaction-designer{
    color: #add8e6;
    font-family: 'Bookman';
}
.software-developer{
    color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
}

.title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move{
    50%{
        transform: translateY(-50px);
    }
}

.title-box{
    height: 50px;
    width: 250px;
    overflow: hidden;
}
/*
  div title box
    div wrapper
      div i title item

*/