
.profile-text{
    color: white;
    font-family:'Montserrat';
}

.intro{
    font-size: 20px;
}

.title{
    font-size: 22px;
}

.bread {
    font-size: 18px;
    width: 400px;
    color: #ABABAB;
}

.project
{
    font-size: 40px;
}

.home-profile-col{
    padding-top: 0%;
}

.project-image-ml{
    margin-left: 2%;
}

.box{
    padding: 0 3% 0 3%;
}

.project-popup{
    width: 220px;
    height: 160px;
    font-size: 18px;
    color: white;
    background-color: #272727;
    border-radius: 20px;
    /*opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;*/
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-popup:hover{
    width: 220px;
    height: 160px;
    font-size: 18px;
    color: white;
    background-color: #272727;
    border-radius: 20px;
    /*visibility: visible;
    opacity: 1;*/
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relative-pos{
    position: relative !important;
}
