.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;
  }

.nav-text{
    color: #707074;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    margin-bottom: 0;
}

.nav-link{
    text-decoration: none;
}

.nav-container{
}

.align-navbar-text{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.nav-col-margin{
    margin-right: 1%;
    margin-left: 1%;
}