.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.align-items-center{
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;
  }

.nav-text{
    color: #707074;
    font-size: 18px;
    font-family:'Montserrat';
    font-weight: 800;
    margin-bottom: 0;
    padding-top: 6px;
}

.nav-text:hover + .underscore{
    background-color: white;
    width:100%;
  }

.nav-text:hover{
    color: white;
}

.nav-text.activated{
    color: white;
    font-size: 18px;
    font-family:'Montserrat';
    font-weight: 800;
    margin-bottom: 0;
    padding-top: 6px;
}
.nav-link{
    text-decoration: none;
}
.nav-container{
    background-color:#272727;
    width: 400px;
    height: 60px;
    margin: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.align-items-center{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.nav-col-margin{
    margin-right: 5%;
    margin-left: 14%;
}

.nav-col-left-margin{
    margin-left: 7%;
}

.nav-col-right-margin{
    margin-left: 3%;
}

.underscore{
    width:0px;
    height:2px;
    transition: width 0.6s;
    background-color:white;
  }

.underscore.activated{
    width: 100%;
    background-color: white;
}

.vertical-line{
    border-left: 1px solid #707070;
    height: 150px;
}