.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.align-items-center{
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;
  }

.nav-text{
    color: #707074;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
}

.nav-link{
    text-decoration: none;
}